// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

$red-primary: #ab1e23;
$p-70: #e86c70;
$p-40: #ffe0e1;
$red-40: #ffe0e1;
$green-primary: #0f8b1f;
$white: #fff;
$black: #000;
$grey-10: #fafafa;
$grey-20: #f1f1f1;
$grey-30: #eaecee;
$grey-40: #d6dade;
$grey-50: #a8b0b9;
$grey-60: #717d8a;
$grey-80: #373f47;
$grey-90: #242d35;
$grey-100: #0c1116;
$border-radius: 4px;
$font-sm: 0.875rem;

// secondary colors
$green: #93dd9d;
$Green-80: #67d676;
$Green-130: #00540b;
$dark-grey: #717d8a;
$orange: #f7ba00;
$error: #d01509;
